<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="mistcafe.css" />
		<title>NewsBot</title>
	</head>
	<body>
		<div id="header">
			<!--<img src="logo.png" alt="MIST-Cafe"/>-->
			<ul id="navigation_list">
				<li class="navigation_item"><a class="navigation_a" href="hai">login</a></li>
				<li class="navigation_item"><a class="navigation_a" href="hai/hai">home</a></li>
				<li class="navigation_item"><a class="navigation_a" href="#">friends</a></li>
				<li class="navigation_item"><a class="navigation_a" href="#">pages</a></li>
				<li class="navigation_item"><a class="navigation_a" href="#">contact us</a></li>
				<li class="navigation_item"><a class="navigation_a" href="#">feedback</a></li>
				<li class="navigation_item"><a class="navigation_a" href="#">logout</a></li>
			</ul>
		</div>
		<div id="gap">
		</div>
		<div id="body">
			<div id="navigation">
				<!--<ul id="navigation_list">
					<li class="navigation_item"><a class="navigation_a" href="hai">login</a></li>
					<li class="navigation_item"><a class="navigation_a" href="hai/hai">home</a></li>
					<li class="navigation_item"><a class="navigation_a" href="#">friends</a></li>
					<li class="navigation_item"><a class="navigation_a" href="#">pages</a></li>
					<li class="navigation_item"><a class="navigation_a" href="#">contact us</a></li>
					<li class="navigation_item"><a class="navigation_a" href="#">feedback</a></li>
					<li class="navigation_item"><a class="navigation_a" href="#">logout</a></li>
				</ul>-->
			</div>
			
			<div id="status">
				<ul id="status_list">
					
					<li class="status_item">
						<div id="give_status">
							<form>
								<input type="text" />
								<input type="button" value="public">
								<input type="button" value="Submit">
							</form>
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Mist khule jacche buker vetor batha hocce..............ami mone hoi ar beshi din nai.</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>						
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					<li class="status_item">
						<div class="status_div">							
							<div class="status_text">Text</div>						
							<div class="status_detail">
								<div class="status_room">room</div>
								<div class="status_author">author</div>
							</div>							
						</div>
					</li>
					
				</ul>
			</div>
			
			<div id="add">
				<ul id="add_list">
					<li class="add_item">
						<div class="add_div"></div>
					</li>
					<li class="add_item">
						<div class="add_div"></div>
					</li>
					<li class="add_item">
						<div class="add_div"></div>
					</li>
					<li class="add_item">
						<div class="add_div"></div>
					</li>
					<li class="add_item">
						<div class="add_div"></div>
					</li>
					<li class="add_item">
						<div class="add_div"></div>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>